.head{
    display: inline-flex;
    background: #ab343a;
    width: 100%;
    align-items: center;
    margin: 0px;
    height: 64px;

}
.MenuZone{
    cursor: pointer;
    display: inline-flex;
    width: 10%;
}
.Main {

}
.Dialogs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    font-size: 25px;



}

.line{

    margin: 0px;
}
#3{
    position: relative;
    width: 44px;
    height: 44px;

}
body{
    margin: 0px;
}
.ListChats {
    position: absolute;
    bottom: 0;
    height: calc(100% - 68px);
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

.subMenu{
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding-inline-start: 0px;
}
.subMenu>li{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.chooseMenu{
    width: 10%;
    background-color: rgba(192,192,192,0.5);
    border: 3px black;
    margin-top: 10px;
    border-radius: 10%;




}
.chatLi{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;

    border-bottom: 2px solid dimgray;
}
.item{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.Auth {
    text-align: center;
}
